<div class="jumbotron">
  <h1 class="display-4">Seja bem vindo</h1>
  <p class="lead">Este é o Crypto Wallet - Cripto App </p>
  <hr class="my-4">
  <p>Selecione uma opção</p>
  <%= render "menu"%>
</div>





